<script>
  function afterNextRender (fn) {
    setTimeout(fn, 100);
  }

  function printValue (name, value) {
    var element = main.querySelector('[data-var=' + name + ']');
    element.textContent = value;
  }

  function inputValue (name, value) {
    var element = main.querySelector('[name=' + name + ']');
    element.value = value;
  }

  function processForm (form, handler, callback) {
    var elements = main.querySelectorAll('button.button');
    for (var i = 0; i < elements.length; i++) {
      var element = elements[i];
      element.disabled = true;
    }
    var processing = main.querySelector('.processing');
    if (processing) {
      processing.style.display = 'block';
    }
    google.script.run.withSuccessHandler(callback)[handler](form);
  }
</script>
