<?!= include('templates/parts/style'); ?>
<main role="main">
</main>

<?!= include('templates/pages/home'); ?>
<?!= include('templates/pages/not-found'); ?>

<?!= include('templates/pages/visitor-registration-form'); ?>
<?!= include('templates/pages/visitor-registration-done'); ?>

<?!= include('templates/pages/booth-visitor-registration-search'); ?>
<?!= include('templates/pages/booth-visitor-registration-form'); ?>
<?!= include('templates/pages/booth-visitor-registration-done'); ?>
<?!= include('templates/pages/booth-visitor-registration-not-found'); ?>

<?!= include('templates/scripts/init'); ?>
<?!= include('templates/scripts/utils') ?>
<?!= include('templates/scripts/change-page'); ?>
<?!= include('templates/scripts/run'); ?>
